pandas==2.2.3
numpy==1.26.4
lightgbm==4.5.0
prophet==1.1.5
scikit-learn==1.5.2
plotly==5.24.1
matplotlib==3.9.2
seaborn==0.13.2
jupyter==1.1.1
pyarrow==18.0.0
pmdarima==2.0.4
streamlit==1.39.0
statsmodels==0.14.4
joblib==1.4.2